.overlay {
    background: rgba(242, 243, 245, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: var(--white);
    width: 100%;
    height : 40%;
    max-width: 480px;
    max-width: 700px;
    padding: 2rem 3rem;
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    text-align: center;
    position: relative;
}

.container header {
    font-size: 5rem;
    font-weight: 600;
    color: var(--blue);
    background-size: contain;
    margin-bottom: 5rem;
}

.container strong {
    font-size: 2.25rem;
    color: var(--title);
}

.container p {
    font-size: 1.25rem;
    color: var(--text);
    margin-top: 0.50rem;
}

.container input {
    margin-top: 0.2rem;
    height: 2rem;
    width: 80%;
    
    font-size: 1.25rem;
    color: var(--text);
    border-radius: 5px;
    border-color: var(--blue-dark);
}

.container button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background: transparent; /*tirar os efeitos padroes dos botoes*/
    border: 0;
    font-size: 0px; /*quando o botao tem s贸 um icone colocar o font-size: 0 */
}


.container button:last-child {
    display: flex;
    top: auto;
    margin-top: 0.8rem;
    margin-left: auto;
    margin-right: 45%;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: transparent; /*tirar os efeitos padroes dos botoes*/
    border: 0;
    font-size: 1.5rem; /*quando o botao tem s贸 um icone colocar o font-size: 0 */
    color: var(--blue-dark);
    font-weight: 900;
}

@media(max-width: 550px){
    .container header {
        font-size: 3rem;
    }

    .container strong {
        font-size: 1.75rem;
    }

    .container button:last-child {
        font-size: 1.25rem; /*quando o botao tem s贸 um icone colocar o font-size: 0 */
    }

    .container input {
        font-size: 1rem; /*quando o botao tem s贸 um icone colocar o font-size: 0 */
    }

}

@media(max-width: 400px){
   
    .container header {
        font-size: 2rem;
    }

    .container strong {
        font-size: 1.50rem;
    }

    .container p {
        font-size: 1rem;
    }
}
