.container {
    height: 100vh; /*sempre vai pegar a altura total*/
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.container section {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.25rem; /*espaço entre as colunas*/
    align-content: center;    
}

.container button {
    background: var(--backgroundDard);
}



@media(max-width: 650px) {
    .container section {
        display: flex;
        flex-direction: column;
    }
}

